*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse configuration files
.metadata/
RemoteSystemsTempFiles/
Servers/
**/.settings/
.project
.classpath

# Maven output
server/target/