<div class="row" ng-controller="MainCtrl">
	<div class="span4">
		<form ng-submit="searchCity()" class="form-search">
			<input ng-model="city" type="text" class="input-medium search-query" placeholder="Search for city"/>
			<button class="btn" type="submit">Search!</button>
		</form>
		<br/>
		<div ng-show="loading" class="alert alert-info">
			<a href="#" class="alert-link">Loading...</a>
		</div>		

		<div id="resultList" ng-show="sights.length">
			<h4 class="text-center">Sights in {{cityName}}</h4>
			<div id="list" x-map-resize x-margin-bottom="220" style="overflow: auto;">
				<div ng-include="'partials/cityListAccordion.html'"></div>
			</div>
		</div>

	</div>

	<div class="span8" x-map-resize x-target-id="map">
		<google-map id="map" center="center" draggable="true" zoom="zoom" markers="markers" mark-click="false" style="height: 800px"></google-map>
	</div>

</div>

