<div class="row" ng-controller="MainCtrl">
	<div class="col-lg-4">

		<form ng-submit="searchCity()">
			<div class="input-group" >
				<input ng-model="city" type="text" class="form-control" placeholder="Search for city"/>
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">Search!</button>
				</span>
			</div>
		</form>
		<br/><br/>
		<div id="resultList">
			<div class="panel panel-default">
				<div class="panel-heading"><b>Sights in {{cityName}}</b></div>
				<div  id="list" style="overflow: auto;">
					<div ng-repeat="sight in sights"  class="well well-small" id="{{sight.name}}">
						<strong>{{sight.name}}</strong>
						<p>{{sight.description}}</p>
					</div>

				</div>
			</div>
		</div>
		
	</div>

	<div class="col-lg-8">
		<google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" style="height: 800px"></google-map>
	</div>
</div>
