<div class="row" ng-controller="MainCtrl">
	<div class="col-lg-4">

		<form ng-submit="searchCity()">
			<div class="input-group" >
				<input ng-model="city" type="text" class="form-control" placeholder="Search for city"/>
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">Search!</button>
				</span>
			</div>
		</form>
		<br/><br/>
		<div id="result-list">
			<div class="panel panel-default">
				<div class="panel-heading"><b>Sights in {{city}}</b></div>
				<ul class="list-group">
					<li ng-repeat="sight in sights" class="list-group-item">{{sight.name}}</li>
				</ul>
			</div>
		</div>
		
	</div>

	<div class="col-lg-8">
		<google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" style="height: 800px"></google-map>
	</div>
</div>
