body {
	padding-top: 70px;
	height: 100%;
}

google-map {
	height: 100%;
	display : block;
}

google-map img {
	max-width: none;
}

#resultList {
	max-height: 80%;
	overflow: auto;
}

html {
	height: 100%;
	
}
